# Dependências do Node.js utilizadas no desenvolvimento do projeto
node_modules

# Arquivos gerados pelo desenvolvimento do projeto no Visual Studio Code
.vscode/*
*.code-workspace
# Exceto os arquivos abaixo
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Histórico local do Visual Studio Code
.history/

# Conteúdo da pasta "json"
json/**
# Porém, a pasta deve fazer parte do versionamento
# Para isso, excluímos o arquivo ".gitkeep" dentro dela
!json/.gitkeep
